# Configuración del Backend Laravel
APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

# Database
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=hogar_geriatrico
DB_USERNAME=hga_user
DB_PASSWORD=1234

# MySQL inicialización (compose usa estas variables)
MYSQL_ROOT_PASSWORD=4321
MYSQL_DATABASE=hogar_geriatrico
MYSQL_USER=hga_user
MYSQL_PASSWORD=1234

# Puertos (opcional)
BACKEND_PORT=8000
FRONTEND_PORT=80
DB_PORT=3306
